/* CSS by Samantha Orr */

/* imported Montserrat for headers and Open Sans for body text (paragraphs) from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* root variables */
:root {

    /* colors */
    --white: #FFFFFF;
    --black: #000000;
    --dk-gray: #333333;
    --burgundy: #650019;
    --dk-blue: #071859;
    --yellow: #F2C14E;

    /* fonts */
    --header-font: "Montserrat", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
}

/* adjust as needed throughout styling website */
body {
    font-family: var(--paragraph-font);
    font-weight: 400;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

nav a {
    font-family: var(--header-font);
    text-decoration: none;
    font-weight: 700;
}


/* global styles to assist with a clean and organized layout as well as structure */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 400px;
    scroll-behavior: smooth;
}

.container-1,
.container-2,
.container-3 {
    margin: 0 auto;
    line-height: 1.5;
    width: 100%;
}

/* global header and navigation styles */
.global-header {
    display: flex;
    align-items: center;
    background-color: var(--burgundy);
    padding: 8px 0;
}

.global-header h1 {
    visibility: hidden;
}

/* when I create and add my logo, make sure to properly styled and sized and add some margin to the left of it 
so that it doesn't touch the edge of the page.*/

/* .global-header img {
    max-width: 50px;
    object-fit: fill;
    color: var(--white);
} */

.global-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

.global-nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--header-font);
    font-weight: 600;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
    border-radius: 4px;
    font-size: 0.95rem;
}

.global-nav ul li a:hover {
    color: var(--yellow);
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.4s;
    font-weight: 600;
}

/* main styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* global footer styles */
footer {
    background-color: var(--burgundy);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-family: var(--header-font);
    font-size: 0.80rem;
    font-weight: 400;
}

/* homepage styles */
.container-1 h2 {
    visibility: hidden;
}

.hero-image img {
    max-width: 400px;
    height: auto;
}

#about-info h3,
#our-mission h3 {
    text-align: center;
    justify-self: center;
    font-size: 1.3rem;
    margin-bottom: 16px;
    font-weight: 700;
    font-family: var(--header-font);
}

#about-info h3 {
    margin-top: 20px;
}

#about-info p,
#our-mission p {
    font-size: 0.75rem;
    font-family: var(--paragraph-font);
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 18px;
    max-width: 55ch;
    text-align: center
}

#featured-artist h3 {
    font-size: 1.3rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin-top: 30px;
}

#featured-artist img {
    max-width: 300px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
}

#featured-artist h4 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 600;
}

#featured-artwork h3 {
    font-size: 1.3rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin-top: 40px;
}

#featured-artwork img {
    max-width: 380px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
    margin-bottom: 10px;
    align-items: center;
}

#featured-artwork h4 {
    text-align: center;
    font-size: 0.60rem;
    margin-bottom: 10px;
    font-weight: 600;
}  

.about-artists-btn {
    display: inline-block;
    text-align: center;
    background-color: var(--dk-blue);
    color: var(--white);
    border: none;
    padding: 8px 16px;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 0.85rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
    width: 250px;
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 600;
}

.about-artists-btn:hover {
    background-color: var(--yellow);
    color: var(--burgundy);
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: 700;
    text-align: center;
}

/* artists page styles */
#artists h2 {
    font-size: 1.4rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin-top: 22px;
    margin-bottom: 18px;
}

.artist-1-image img,
.artist-3-image img {
    max-width: 180px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
    margin-top: 20px;
}

.artist-2-image img,
.artist-4-image img {
    max-width: 180px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
    margin-top: 20px;
}

.artist-content-1,
.artist-content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 20px 0 30px;
}

.artist-content-1 h3,
.artist-content-2 h3 {
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.artist-content-1 p {
    display: block;
    font-size: 0.70rem;
    font-family: var(--paragraph-font);
    line-height: 1.4;
    max-width: 38ch;
    text-align: center;
    margin-bottom: 16px;
}

.artist-content-2 p {
    display: block;
    font-size: 0.70rem;
    font-family: var(--paragraph-font);
    line-height: 1.4;
    max-width: 38ch;
    text-align: center;
    margin-bottom: 16px;
}

.artist-1-info,
.artist-2-info,
.artist-3-info,
.artist-4-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-1-info a,
.artist-2-info a,
.artist-3-info a,
.artist-4-info a {
    display: inline-block;
    background-color: var(--dk-blue);
    color: var(--white);
    width: 240px;
    border: none;
    padding: 6px 10px;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 0.85rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.artist-content-1 a:hover,
.artist-content-2 a:hover {
    background-color: var(--burgundy);
    color: var(--white);
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
    text-align: center;
}

/* artworks page styles */
.container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#artworks h2 {
    font-size: 1.4rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin-top: 22px;
}

#artworks img {
    display: inline-block;
    max-width: 350px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

#artworks h3 {
    text-align: center;
    font-size: 0.70rem;
    margin-bottom: 14px;
    font-weight: 600;
}

#artworks p {
    text-align: center;
    font-size: 0.70rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 55ch;
}


/* !!!! after completely styling my website in mobile-first format,
add media queries (tablets and desktops) to adjust the layout and 
design for larger screens. !!!! */

/* media queries (medium) */
/* previous media query was min-width: 768px */

@media (min-width: 768px) {
    .container-1,
    .container-2,
    .container-3 {
        width: 100%;
    }

    .global-header {
        justify-content: space-between;
        padding: 10px 18px;
    }

    .global-nav ul {
        align-items: center;
        gap: 0.80rem;
    }

    .global-nav ul li a {
        font-size: 1.1rem;
    }

    .hero-image {
        display: flex;
        justify-content: center;
    }

    .hero-image img {
        max-width: 996px;
        height: auto;
    }

    #our-mission,
    #about-info {
        display: flex;
        max-width: 700px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    #our-mission h3,
    #about-info h3 {
        font-size: 1.3rem;
        margin-bottom: 16px;
        font-weight: 700;
        text-align: center;
    }

    #our-mission p,
    #about-info p {
        font-size: 0.90rem;
        max-width: 70ch;
        text-align: center;
    }

    #featured-artist h3,
    #featured-artwork h3 {
        font-size: 1.5rem;
        text-align: center;
        color: var(--black);
        font-weight: 700;
        margin-top: 30px;
    }

    #featured-artist h4,
    #featured-artwork h4 {
        text-align: center;
        font-size: 0.90rem;
        margin-bottom: 8px;
        font-weight: 600;
    }

    #featured-artist img {
        max-width: 400px;
        height: auto;
    }

    #featured-artwork img {
        max-width: 500px;
        height: auto;
    }

    .about-artists-btn {
        width: 250px;
        font-size: 0.90rem;
    }

    /* .hero-image img {
        max-width: 900px;
        height: auto;
        width: 100%;
        overflow: hidden;
        object-fit: fill;
    } */

    #artists h2,
    #artworks h2 {
        font-size: 1.5rem;
        text-align: center;
        color: var(--black);
        font-weight: 700;
        margin-top: 22px;
        font-family: var(--header-font);
    }

    #artists h3 {
        font-size: 1.2rem;
        text-align: center;
        color: var(--black);
        font-weight: 600;
        margin-top: 22px;
        margin-bottom: 18px;
    }

    #artists p {
        font-size: 0.85rem;
        line-height: 1.6;
        margin-top: 10px;
        margin-bottom: 18px;
        max-width: 55ch;
        text-align: center;
        font-family: var(--paragraph-font);
    }

    .artist-content-1,
    .artist-content-2 {
        display: grid;
        grid-template-columns: 220px 1fr;
        gap: 4rem;
        align-items: center;
}

    #artists img {
        max-width: 210px;
        height: auto;
    }

    #artists a {
        width: 180px;
        align-self: center;
    }

    #artists h3 {
        font-size: 1.2rem;
        margin-bottom: 18px;
        font-weight: 600;
        text-align: center;
    }
    
    #artists p {
        font-size: 0.80rem;
        line-height: 1.6;
        text-align: left;
    }

    #artists a {
        width: 300px;
        font-size: 0.85rem;
        text-align: center;
        justify-self: center;
        justify-self: center;
    }

    #artworks img {
        max-width: 400px;
        height: auto;
    }

    #artworks h3 {
        text-align: center;
        font-size: 0.85rem;
        margin-bottom: 14px;
        font-weight: 600;
    }

    #artworks p {
        font-size: 0.70rem;
        line-height: 1.6;
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 60ch;
        text-align: center;
    }
}

/* media queries (large) */

@media screen and (min-width: 1024px){
    .container-1,
    .container-2,
    .container-3 {
        width: 100%;
    }

    .global-header {
        justify-content: space-between;
        padding: 12px 24px;
    }

    .global-nav ul {
        align-items: center;
        gap: 1rem;
    }

    .global-nav ul li a {
        font-size: 1.1rem;
    }

    .hero-image img {
        max-width: 1385px;
        height: auto;
    }

    #our-mission,
    #about-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    #our-mission h3,
    #about-info h3,
    #featured-artist h3,
    #featured-artwork h3 {
        font-size: 1.4rem;
        margin-bottom: 16px;
        font-weight: 700;
    }

    #our-mission p,
    #about-info p {
        font-size: 0.95rem;
    }

    #featured-artist h4 {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 30px;
        font-weight: 600;
    }

    #featured-artist img {
        max-width: 500px;
        height: auto;
    }

    #featured-artwork h4 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 8px;
        font-weight: 600;
    }

    #featured-artwork img {
        max-width: 600px;
        height: auto;
    }

    .about-artists-btn{
        width: 350px;
        font-size: 1.1rem;
        margin-top: 25px;
    }

    #artists h3 {
        font-size: 1.6rem;
        text-align: center;
        color: var(--black);
        font-weight: 600;
        margin-top: 22px;
        margin-bottom: 30px;
    }

    .artist-content-1,
    .artist-content-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
    }
/* 
    .artist-content-2 .artist-2-image,
    .artist-content-2 .artist-4-image {
        order: 2;
    }

    .artist-content-2 .artist-2-info,
    .artist-content-2 .artist-4-info {
        order: 1;
    } */

    #artists img {
        max-width: 230px;
        height: auto;
    }

    #artists h3 {
        font-size: 1.5rem;
        margin-top: 8px;
        font-weight: 600;
        text-align: center;
    }

    #artists p {
        font-size: 0.85rem;
        line-height: 1.6;
        margin-top: 10px;
        margin-bottom: 18px;
        text-align: left;
    }

    #artworks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: 0 auto;
    }

    #artworks h2 {
        grid-column: 1 / -1;
    }

    #artworks img {
        max-width: 460px;
        height: auto;
    }

    #artworks p {
        font-size: 0.90rem;
        line-height: 1.6;
        margin-top: 10px;
        margin-bottom: 20px;
        max-width: 60ch;
    }

    #artworks h3 {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 8px;
        font-weight: 600;
    }
}