/* CSS by Samantha Orr */

/* imported Montserrat for headers and Open Sans for body text (paragraphs) from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* root variables */
:root {

    /* colors */
    --white: #FFFFFF;
    --black: #000000;
    --dk-gray: #333333;
    --burgundy: #650019;
    --dk-blue: #002D72;

    /* fonts */
    --header-font: "Montserrat", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
}

/* adjust as needed throughout styling website */
body {
    font-family: var(--paragraph-font);
    font-weight: 400;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

nav a {
    font-family: var(--header-font);
    text-decoration: none;
    font-weight: 700;
}


/* global styles to assist with a clean and organized layout as well as structure */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 400px;
    scroll-behavior: smooth;
}

.container-1,
.container-2,
.container-3 {
    margin: 0 auto;
    line-height: 1.5;
}

/* global header and navigation styles */
.global-header {
    display: flex;
    align-items: center;
    background-color: var(--burgundy);
    padding: 8px 0;
}

.global-header h1 {
    visibility: hidden;
}

/* when I create and add my logo, make sure to properly styled and sized and add some margin to the left of it 
so that it doesn't touch the edge of the page.*/

.global-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
}

.global-nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--header-font);
    font-weight: 500;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    align-items: center;
    border-radius: 4px;
}

.global-nav ul li a:hover {
    background-color: var(--white);
    color: var(--burgundy);
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
}

/* main styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* global footer styles */
footer {
    background-color: var(--burgundy);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    font-family: var(--header-font);
    font-size: 0.80rem;
    font-weight: 400;
}


/* homepage styles */
.container-1 h2 {
    visibility: hidden;
}

.hero-image img {
    max-width: 500px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
}

#about-info h3 {
    justify-self: center;
    font-size: 1.5rem;
    margin-top: 14px;
    margin-bottom: 16px;
    font-weight: 700;
}

#about-info p {
    font-size: 0.85rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 18px;
    width: 55ch;
}

.about-artists-btn {
    display: inline-block;
    text-align: center;
    background-color: var(--dk-blue);
    color: var(--white);
    border: none;
    padding: 8px 16px;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    width: 300px;
}

.about-artists-btn:hover {
    background-color: var(--burgundy);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 600;
}

/* artists page styles */
.container-2 h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin-top: 16px;
}

.artist-1-image img,
.artist-3-image img {
    max-width: 180px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
}

.artist-2-image img,
.artist-4-image img {
    max-width: 180px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
}

/* .artist-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
} */

.artist-content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 20px;
}

.artist-content-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 40px;
}

.artist-content-1 h3,
.artist-content-2 h3 {
    font-size: 1rem;
    margin-top: 4px;
    margin-bottom: 16px;
    font-weight: 600;
}

.artist-content-1 p,
.artist-content-2 p {
    font-size: 0.80rem;
    font-family: var(--paragraph-font);
    line-height: 1.6;
    width: 33ch;
}

.artist-1-info,
.artist-2-info,
.artist-3-info,
.artist-4-info {
    display: block;
    align-content: center;
}

.artist-1-info a,
.artist-2-info a,
.artist-3-info a,
.artist-4-info a {
    display: inline-block;
    background-color: var(--dk-blue);
    color: var(--white);
    border: none;
    padding: 6px 12px;
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 0.85rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    width: 85%;
    text-align: center;
}

.artist-content-1 a:hover,
.artist-content-2 a:hover {
    background-color: var(--burgundy);
    color: var(--white);
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
}

/* 
.artist-content-1 h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 600;
} */

/* .artist-content-1 p {
    font-size: 0.85rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 18px;
    width: 55ch;
} */


/* artworks page styles */
.container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#artworks h2 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    margin-top: 16px;
}

#artworks img {
    max-width: 450px;
    height: auto;
    overflow: hidden;
    object-fit: fill;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

#artworks h3 {
    text-align: center;
    font-size: 0.90rem;
    margin-bottom: 14px;
    font-weight: 600;
}

#artworks p {
    text-align: center;
    font-size: 0.85rem;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 18px;
    width: 55ch;
}


/* !!!! after completely styling my website in mobile-first format,
add media queries (tablets and desktops) to adjust the layout and 
design for larger screens. !!!! */


/* media queries (medium)

@media screen and (min-width: 600px) {
} */


/* media queries (large)

@media screen and (min-width: 900px){
} */